.pop-up-cart {
    width:300px;
    height: 1000px;
    display: none;
    background: white;
    position: absolute;
    top:0;
    right: 0;
    z-index: 1000;
    border: 1px solid crimson;
    overflow: auto;
}

.content {
    height:700px;
    overflow: auto;
}

.expand {
    display: block;
}

.close-cart {
    position: absolute;
    right: 15px;
    top: 10px;
    text-decoration: none;
    font-size: 20px;
    color: crimson;
    font-weight: bold;
    font-family: cursive;
}
.close-cart:hover{
    font-size: 24px;
}

h1 {
    padding-left: 10px;
}

.product-name-cart {
    font-size: 20px;
  
    padding:10px 0px 0px 20px;
    font-weight: 700;

}

.product-count-cart {
   
    padding:5px 20px;
    font-size: 20px;
    color:darkgray
}

.product-price-cart {
 
    padding:5px 20px 10px;
    font-size: 20px;
    color:darkgray
}