.pop-up-cart {
    width:300px;
    height: 1000px;
    display: none;
    background: white;
    position: absolute;
    top:0;
    right: 0;
    z-index: 1000;
    border: 1px solid crimson;
    overflow: auto;
}

.expand {
    display: block;
}

.close-cart {
    position: absolute;
    right: 15px;
    top: 10px;
    text-decoration: none;
    font-size: 20px;
    color: crimson;
    font-weight: bold;
    font-family: cursive;
}
.close-cart:hover{
    font-size: 24px;
}

h1 {
    padding-left: 10px;
}